<% if flash[:alert] %>
	<p id="notice"><%= flash[:alert] %></p>
	<% end %>

	<div class="form-login">
		<%= form_tag do %>
		<h2 class="form-signin-heading">Please sign in</h2>
		<div>
			<%= label_tag :name, 'Имя' %>
			<%= text_field_tag :name, params[:name], class:'form-control', id:'inputEmail' %>
		</div>
		<div>
			<%= label_tag :password, 'Пароль' %>
			<%= password_field_tag :password, params[:password], class:'form-control', id:'inputPassword' %>
		</div>
		<div>
			<%= submit_tag "Login", class:'btn btn-primary btn-block' %>
		</div>
		<% end %>
	</div>