<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this @order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, size: 40, class:'form-control', placeholder:"Enter Name" %>
  </div>

  <div class="form-group">
    <%= f.label :address %>
    <%= f.text_area :address, rows: 3, cols: 40, class:'form-control', placeholder:"Enter address" %>
  </div>

  <div class="form-group">
    <%= f.label :email %>
    <%= f.text_field :email, size: 40, class:'form-control', id:'exampleInputEmail1', placeholder:"Enter email" %>
  </div>

  <div class="form-group">
    <%= f.label :pay_type %>
    <%= f.select(:pay_type, Order::PAYMENT_TYPES, {}, {:class => 'custom-select'}) %>
  </div>

  <div class="form-group">
    <%= f.submit 'Place Order', class: 'btn btn-primary' %>
  </div>
<% end %>
