<% unless cart.line_items.empty? %>
<div class="container-fluid">
	<h2>Your Cart</h2>
	<table>
		<%= render(cart.line_items) %>
		<tr class="total_line">
			<td colspan="2">Total</td>
			<td ><%= number_to_currency(cart.total_price) %></td>
		</tr>
	</table>
	<div class="container btn-cart">
		<%= button_to 'Empty cart', cart, method: :delete, class:'btn-cart-checkout btn btn-warning btn-block',
		data: { confirm: 'Are you sure?' }%>
		<%= button_to "Checkout", new_order_path, method: :get, class:'btn-cart-checkout btn btn-success btn-block' %>
	</div>
</div>
<% end %>