// Place all the styles related to the Carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.btn-cart {
	margin-top: 10px;
	.btn-cart-checkout {
		margin-top: 10px;
	}
}