// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
legend {
	margin-left: 20px;
}

.new_order {
	max-width: 45%;
}