// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form-login {
	form {
		margin-right: auto;
		margin-left: auto;
		max-width: 30%;
	}
	
	.btn {
		margin-top: 30px;
	}
}