// Place all the styles related to the Store controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
	text-align: center;
}
.entry {
 	overflow: auto;
 	margin-top: 1em;
 	// border-bottom: 1px solid #77d;
 	min-height: 100px;
 	img {
 		width: 100px;
 		margin-right: 5px;
 		margin-bottom: 5px;
 		position: absolute;
 	}
 	h3 {
 		font-size: 120%;
 		font-family: sans-serif;
 		margin-left: 120px;
 		margin-top: 0;
 		margin-bottom: 2px;
 		color: black;
 	}
 	p, div.price_line {
 		margin-left: 110px;
 		margin-top: 0.5em;
 		margin-bottom: 0.8em;
 	}

 	form, div {
 		display: inline;
 	}
 	
 	.price {
 		color: black;
 		font-weight: bold;
 		margin-right: 3em;
 	}
 }
