<!DOCTYPE html>
<html>
<head>
 <title>Pragprog Books Online Store</title>
 <%= stylesheet_link_tag "application", media: "all",
 "data-turbolinks-track" => true %>
 <%= javascript_include_tag "application",
 "data-turbolinks-track" => true %>
 <%= stylesheet_link_tag    'https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' %>
 <%= csrf_meta_tag %>
</head>
<body class="<%= controller.controller_name %>">

 <div id="banner">
   <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal">Bands for You</h5>
    <nav class="my-2 my-md-0 mr-md-3">
      <span class="p-2 text-dark" href="#"><%= link_to 'Main Store', store_path %></span>
      <span class="p-2 text-dark" href="#"><%= link_to "About us", store_about_path %></span>
      <% if session[:user_id] %>
        <span class="p-2 text-dark" href="#"><%= link_to 'Orders', orders_path %></span>
        <span class="p-2 text-dark" href="#"><%= link_to 'Products', products_path %></span>
        <span class="p-2 text-dark" href="#"><%= link_to 'Users', users_path %></span>
        <span class="btn btn-primary" href="#"><%= button_to 'Logout', logout_path, method: :delete %></span>
      <% end %>
    </nav>
  </div>
 </div>

 <div id="columns" class="container">
    <div class="row">
      <% if @cart %>
      <div class="col-md-3" id="cart"><%= render @cart%></div>
      <% end %>
      <div class="col-md-9"><%= yield %></div>
    </div>
 </div>


</body>
</html>